{% extends 'home.html' %}

{% block title %}
    profile
{% endblock %}

{% block NavBarBrand %}
    Profile
{% endblock %}

{% block content %}
    <div>
        <form action="#" method="post">
            {% csrf_token %}

            <input type="number" value="{{ user.id }}" name="id" hidden>

            <label for="username">Seu nome de usuário</label>
            <input id="username" type="text" value="{{ user.username }}" name="username" required disabled>
            <button type="button" onclick="liberar_edicao('username')">Editar</button>
            <br>
            
            <label for="first_name">Seu primeiro nome</label>
            <input id="first_name" type="text" value="{{ user.first_name }}" name="first_name" disabled>
            <button type="button" onclick="liberar_edicao('first_name')">Editar</button>
            <br>

            <label for="last_name">Seu último nome</label>
            <input id="last_name" type="text" value="{{ user.last_name }}" name="last_name" disabled>
            <button type="button" onclick="liberar_edicao('last_name')">Editar</button>
            <br>

            <label for="email">Seu email</label>
            <input id="email" type="email" value="{{ user.email }}" name="email" required disabled>
            <button type="button" onclick="liberar_edicao('email')">Editar</button>
            <br>

            <label for="pass">Não é sua senha real, apenas uma representação</label>
            <input id="pass" type="password" value="12345678" name="password" required disabled>
            <button type="submit">Editar</button>
            <br>

            <input type="submit" value="Salvar" id="main_submit_button" hidden>
        </form>
    </div>
{% endblock %}

{% block script %}
    <script>
        function liberar_edicao(id)
        {
            let element = document.getElementById(id);
            element.disabled = false;

            document.getElementById("main_submit_button").hidden = false;
        }
    </script>
{% endblock %}