<div>
    <h1>Valide seu email no [SITE]</h1>
    <hr>
    <p style="color: brown; background-color: aquamarine;">Abaixo clique no link para validar seu email.</p>

    <form action="{ url 'confirm_email' }">
        <input type="text" name="username" value="{{ username }}" required hidden>
        <input type="datetime" name="time" value="{{ time }}" required hidden>
        <input type="text" name="token" value="{{ token }}" required hidden>

        <input type="submit" value="Validar meu email" style="background-color: rgba(0, 0, 0, 0); 
        text-decoration: underline; 
        color: blue;">
    </form>
</div>